body
{
  background-color: black;
}

#canvas
{
  // No scrollbars, let the canvas fill the viewport
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px; top: 0px;
  z-index: 1;
}

#nocanvas
{
  text-align: center;
  color: red;
  font-weight: bold;
}
