<html></html>
<head>
    <title>Adam Scherlis</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Adam Scherlis</h1>

    <h2>Blog posts</h2>
    <ul>
{posts}
    </ul>

    <h2><a href="https://adam.scherlis.com">Old blog</a></h2>

    <h2>Elsewhere</h2>
    <ul>
        <li><a href="https://github.com/adamscherlis">GitHub</a></li>
        <li><a href="https://twitter.com/ascherlis">Twitter</a></li>
        <li><a href="mailto:adam@scherlis.com">Email</a></li>
    </ul>
</body>
</html>