<html></html>
<head>
    <title>Adam Scherlis</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h2>Adam Scherlis</h2>

    <h3>Research</h3>
    <ul>
    	<li><a href="https://arxiv.org/search/?searchtype=author&query=Scherlis%2C+Adam">arXiv</a></li>
        <li><a href="https://scholar.google.com/citations?user=3i50nQ0AAAAJ&hl=en">Google Scholar</a></li>
        <li><a href="https://github.com/adamscherlis">GitHub</a></li>
    </ul>

    <h3>Blog posts</h3>
    <ul>
{posts}
    </ul>

    <h3>External blog posts</h3>
    <ul>
        <li>EleutherAI Blog: <a href="https://blog.eleuther.ai/weak-to-strong/">Experiments in Weak-to-Strong Generalization</a></li>
        <li><a href="https://www.lesswrong.com/users/adam-scherlis">LessWrong posts</a></li>
        <li><a href="https://adam.scherlis.com">Old personal blog</a> [2010-2024]</li>
    </ul>

    <h3>Contact</h3>
    <ul>
        <li><a href="https://twitter.com/ascherlis">Twitter</a></li>
        <li><a href="mailto:adam@scherlis.com">Email</a></li>
    </ul>
</body>
</html>
